<!-- <nz-card nzTitle="员工账号" style="width: 35rem;"> -->
<form nzForm [formGroup]="validateForm">
  <nz-form-item>
    <nz-form-label [nzSpan]="3">终端编码</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback>
      <input nz-input formControlName="terminalNumber">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="3">邀请码</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback>
      <input nz-input formControlName="invitationCode">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="3">员工姓名</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback>
      <input nz-input formControlName="invitationCode" placeholder="请输入员工姓名">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="3">操作门店</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <nz-select formControlName="store">
        <div *ngFor="let perStore of storeList">
          <nz-option [nzLabel]="perStore.storeName" [nzValue]="perStore.storeNumber"></nz-option>
        </div>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="3">登录密码</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback>
      <input nz-input formControlName="invitationCode" placeholder="请输入登录密码">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-row style="margin-bottom:8px;">
    <nz-form-control [nzSpan]="7" [nzOffset]="6">
      <div style="display: flex;justify-content: space-around">
        <button nz-button nzType="primary">保存</button>
        <button nz-button (click)="cancelClick()">取消</button>
      </div>
    </nz-form-control>
  </nz-form-item>

</form>

<!-- </nz-card> -->