<nz-layout class="layout">
  <nz-header>
    <div class="logo"></div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px;">
      <li nz-menu-item>集团</li>
      <li nz-menu-item>门店</li>
      <li nz-menu-item>一级导航</li>
      <li nz-menu-item>二级导航</li>
    </ul>
  </nz-header>
  <nz-layout>
    <nz-sider [nzCollapsed]="false" [nzWidth]="200" style="background:#fff">
      <ul nz-menu [nzMode]="'inline'" style="height:100%">
        <li nz-submenu>
          <span title>
            <i nz-icon type="line-chart" theme="outline"></i>统计</span>
          <ul>
            <li nz-menu-item routerLink="./statistics/data-view">数据概览</li>
          </ul>
        </li>
        <li nz-submenu>
          <span title>
            <i nz-icon type="credit-card" theme="outline"></i>零售</span>
          <ul>
            <li nz-menu-item routerLink="/home/resale/summarizing">销售汇总</li>
            <li nz-menu-item routerLink="/home/resale/transaction-detail">交易明细</li>
          </ul>
        </li>
        <li nz-submenu>
          <span title>
            <i nz-icon type="home" theme="outline"></i>门店</span>
          <ul>
            <li nz-menu-item routerLink="/home/store/store-manage">门店管理</li>
            <li nz-menu-item routerLink="/home/store/staff-account">员工账号</li>
            <li nz-menu-item routerLink="/home/store/terminal-manage">终端管理</li>
          </ul>
        </li>
        <li nz-submenu>
          <span title>
            <i nz-icon type="team" theme="outline"></i>会员</span>
          <ul>
            <li nz-menu-item routerLink="/home/member/member-type">会员类别</li>
            <li nz-menu-item routerLink="/home/member/member-list">会员列表</li>
          </ul>
        </li>
        <li nz-submenu>
          <span title>
            <i nz-icon type="appstore" theme="outline"></i>营销</span>
          <ul>
            <li nz-menu-item routerLink="/home/operation/discount">优惠券</li>
            <li nz-menu-item routerLink="/home/operation/marketing-method">线下活动</li>
          </ul>
        </li>
        <li nz-submenu>
          <span title>
            <i nz-icon type="setting" theme="outline"></i>系统</span>
          <ul>
            <li nz-menu-item routerLink="/home/system/department-manage">部门设置</li>
            <li nz-menu-item routerLink="/home/system/role-manage">角色管理</li>
            <li nz-menu-item routerLink="/home/system/role-accredit">角色授权</li>
            <li nz-menu-item routerLink="/home/system/system-notice">升级公告</li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout style="padding:0 24px 24px">
      <nz-breadcrumb [nzAutoGenerate]="true" style="margin:16px 0;">
      </nz-breadcrumb>
      <nz-content style="background:#fff; padding: 24px; height: 20rem; min-width: 60rem;min-height: 45rem">
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>