<div>
    <nz-card style="width:300px;" nzTitle="Card title">
        <p>Card content</p>
        <p>Card content</p>
        <p>Card content</p>
      </nz-card>
  <nz-card style="width:300px;">
    <div>
      <p>零售通商家后台系统</p>
    </div>
    <div>
      <input nz-input type="text" placeholder="请输入用户名" [(ngModel)]="account">
    </div>
    <div>
      <input nz-input type="password" placeholder="请输入密码" [(ngModel)]="password">
    </div>
    <div>
      <input nz-input type="text" placeholder="请输入验证码" [(ngModel)]="verification">
    </div>

  </nz-card>

</div>