/* You can add global styles to this file, and also import other style files */

.font-max {
    font-size: 2rem;
}

.font-middle {
    font-size: 1rem;
}

.font-small {
    font-size: 0.5rem;
}

.color-gray {
    color: gray;
}

.color-lightgray {
    color: lightgray;
}

.color-green {
    color: green;
}

.color-red {
    color: red;
}
