<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label [nzSpan]="3">门店名称</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback>
      <input nz-input formControlName="storeName" placeholder="请输入门店名称">
      <nz-form-explain *ngIf="validateForm.get('storeName')?.dirty && validateForm.get('storeName')?.errors">
        门店名称为3-10位
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="3">城市</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback>
      <nz-cascader nzChangeOnSelect [nzOptions]="regions" formControlName="region" (ngModelChange)="onChanges($event)">
      </nz-cascader>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="3">地址</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback>
      <input nz-input formControlName="storeAddress" placeholder="请输入门店地址">
      <nz-form-explain *ngIf="validateForm.get('storeAddress')?.dirty && validateForm.get('storeAddress')?.errors">
        门店地址为3-10位
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="3">联系人</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback>
      <input nz-input formControlName="storeContact" placeholder="请输入联系人">
      <nz-form-explain *ngIf="validateForm.get('storeContact')?.dirty && validateForm.get('storeContact')?.errors">
        联系人长度为2-6位
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="3">联系电话</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback>
      <input nz-input formControlName="contactTel" placeholder="请输入联系电话">
      <nz-form-explain *ngIf="validateForm.get('contactTel')?.dirty && validateForm.get('contactTel')?.errors">
        联系电话长度为13位
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-row style="margin-bottom:8px;">
    <nz-form-control [nzSpan]="7" [nzOffset]="6">
      <div style="display: flex;justify-content: space-around">
        <button nz-button nzType="primary">保存</button>
        <button nz-button (click)="cancelClick()">取消</button>
      </div>
    </nz-form-control>
  </nz-form-item>
</form>